* {
    head-primary-color: #bdd5eaff;
    default-primary-color: #ACBED8;
    text-primary-color:#212121;
    light-primary-color:   #f7fff7ff;
    accent-color: #9055a2ff;
    secondary-text-color: #757575;
    primary-text-color: #FFFFFF;
    divider-color:#c5d8d1ff;
}

.root{
    -fx-background-color:#f1f3f4;
    -fx-font-size: 18px;
}

#titulo{
    -fx-font-size: 32px;
}


.button{
    -fx-background-color:  default-primary-color;
    -fx-text-fill: text-primary-color;
    -fx-border-radius: 10px;
}
.label{
    -fx-text-fill:text-primary-color ;
    -fx-font-family: "Century Schoolbook";
}

.choice-box{
    -fx-background-color: default-primary-color; /* Cambia el color de fondo */
}

.choice-box .text{
    -fx-fill:text-primary-color; /* Cambia el color del texto */
}
.choice-box .menu-item .text{
    -fx-background-color:light-primary-color; /* Cambia el color de fondo */
    -fx-fill:text-primary-color; /* Cambia el color del texto */
}

/*.tool-bar{*/
/*    -fx-background-color:dark-primary-color;*/
/*}*/

.split-menu-button{
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
}

.split-menu-button .label{
    -fx-background-color:  white;
    -fx-text-fill: black;
}

.split-menu-button .menu-item{
    -fx-background-color:  white;
    -fx-text-fill: black;
    -fx-cursor: hand;
}

.menu-button{
    -fx-background-color:  default-primary-color;
    -fx-text-fill: primary-text-color;
}
.check-box.box{
    -fx-background-color:divider-color;
}
.scroll-bar{
    -fx-background-color:light-primary-color;
}
.scroll-bar .thumb{
    -fx-background-color:divider-color;
}

#vBoxAlarmas{
    -fx-background-color:light-primary-color;
}

#btn_hoy{
    -fx-background-color:  white;
    -fx-text-fill: black;
    -fx-cursor: hand;
    -fx-border-color:gray;
    -fx-border-width: 0.2 0.2 0.2 0.2;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

#btn_anterior{
    -fx-background-color:  white;
    -fx-text-fill: black;
    -fx-border-color:gray;
    -fx-border-width: 0.2 0.2 0.2 0.2;
    -fx-cursor: hand;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
}
#btn_anterior:hover {
    -fx-background-color: #eaeaea;
}

.split-menu-button .arrow-button {
    -fx-background-color:  white;
    -fx-text-fill: black;
    -fx-cursor: hand;
}

.split-menu-button{
    -fx-border-color:gray;
    -fx-border-width: 0.2 0.2 0.2 0.2;
}

.split-menu-button .arrow-button:hover {
    -fx-background-color:  #eaeaea;
}


#btn_siguiente{
    -fx-background-color:  white;
    -fx-text-fill: black;
    -fx-cursor: hand;
    -fx-border-color:gray;
    -fx-border-width: 0.2 0.2 0.2 0.2;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
}
#btn_siguiente:hover {
    -fx-background-color: #eaeaea;
}

#btn_hoy:hover {
    -fx-background-color: #eaeaea;
}
#guardado{
    -fx-text-fill: #757575;
}